---
layout: default
---

<div class="row">
  <div class="col-xs-12">
    <h1>Standpoint Technologies</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1 class="page-heading">News &amp; Events</h1>

    <ul class="post-list">
      {% if site.categories.news == null %}
        <li>
          No news
        </li>
      {% else %}
        {% for post in site.categories.news limit:2 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      {% endif %}
    </ul>

    <h1 class="page-heading">Careers</h1>

    <ul class="post-list">
      {% if site.categories.career == null %}
        <li>
          No careers
        </li>
      {% else %}
        {% for post in site.categories.career limit:1 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  <div class="col-md-8">
    <h1>Application Development</h1>
    <p>
      We provide a service and product combination that dramatically reduces the high costs, risks, and time to rollout normally associated with building custom applications, while retaining the “fit”, differentiation, and agility benefits of custom applications.	
    </p>
  </div>
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
